/* about me */
#about-me{
    display: flex;
    flex-direction: row;
}
.pic-desc, .about-me{
    border-radius: 25px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 40px;
    width: 80%;
    height: auto;
    padding: 10px;
}

.pic-desc img{
    width: auto;
    height: 500px;
}

/* hobbies */
#hobbies-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.hobby-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:auto;
    padding: 10px;
    margin: 10px;
}

.hobby-card img{
    width: 30% - 10px;
}

#travel{
    display: flex;
    flex-direction: row;
}

#travel img{
    border-radius: 25px;
}

#locations-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
}

.location-card{
    background-color: #e8d9d9;
    display: flex;
    flex-direction: column;
    width: 100%;
    height:auto;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    box-shadow: 2px 4px rosybrown;
}

.location-card #images{
    flex-direction: row;
    flex-wrap: hidden;
}

.location-card #images img{
    width: 100%;
    aspect-ratio: 4/3;
    border-radius: 25px;
}



/* Set the size of the div element that contains the map */
#map {
    height: 600px;
    /* The height is 400 pixels */
    width: 60%;
    margin-left: 20px;
    /* The width is the width of the web page */
  }

h3, h6{
    margin-left: 20px;
    margin-top: 20px;
}

button {
    background-color: white;
}