

#gallery{
    height: 200px;
    aspect-ratio: 5/3;
    display: flex;
    flex-direction: row;
}

#gallery img{
    width: 100%;
    height: auto;
    margin-right: 10px;
}


.pic-desc, .about-me{
    border-radius: 25px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 40px;
    width: 80%;
    height: auto;
    padding: 10px;
}

