.page-content{
    display: flex;
    justify-content: space-around;
}

img{
    border: 1px;
    border-radius: 5px;
}


.pic-desc, .about-me{
    border: 2px solid;
    border-style: outset;
    border-radius: 10px;
    border-color:azure;
    margin: 30px;
    width: 500px;
    height: 600px;
}

