.page-content{
    display: flex;
    justify-content: space-around;
    
}

img{
    border-radius: 25px;
}


.pic-desc, .about-me{
    background-color: #e8d9d9;
    border-radius: 25px;
    margin: 30px;
    width: 500px;
    height: 600px;
    padding: 10px;
    box-shadow: 2px 4px rosybrown;
}

