/* FOOTER STYLES */
.footer{
    padding: 40px 0 20px;
    background-color: #212529;
    text-align: center;
    width: 100%;
    height: 100px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

.footer-social-wrapper{
    color: lightgray;
}

.footer-social-wrapper > a{
    color: inherit;
    font-size: 20px;
    text-align: center;
    border: 1px solid;
    width: 35px;
    height: 35px;
    line-height: 34px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer-social-wrapper > a:hover{
    opacity: 1;
    color: lightgray;
}


/* styles shared accross all files */
h3 {
    margin-left: 20px;
    margin-top: 20px;
}

.page-content{
    background-color: #d1dce5;
    padding: 20px;
}