#projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card{
    background-color: #e8d9d9;
    display: flex;
    flex-direction: row;
    width: 80%;
    height:auto;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 2px 4px rosybrown;
}

.project-card img{
    width: 30%;
    aspect-ratio: 4/3;
    padding: 5px;
    border-radius: 25px;
}

.project-card .txt{
    flex-direction: column;
    margin-left: 20px;
    border-color: #ccc;
}

.txt h4{
    color: black;
}

h3 {
    margin-left: 20px;
    margin-top: 20px;
}