#projects-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.project-card{
    display: flex;
    flex-direction: column;
    width: 30%;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #ccc;
    margin: 10px;
    box-shadow: 3px 3px 3px 3px rgb(222, 221, 221);
}

.project-card img{
    width: 100%;
    aspect-ratio: 8/5;
    object-fit: cover;
}

.project-card .txt{
    flex-direction: column;
    margin-left: 20px;
    border-color: #ccc;
}

.txt h4{
    color: black;
}

h3 {
    margin-left: 20px;
    margin-top: 20px;
}