#form {
    display:flex;
    position:relative;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    height: 50vh;
}

input, button{
    align-self: center;
    width: 100%;
    margin-bottom: 20px;
}

label {
    margin: auto;
    width: 100%;
    text-align: left;
    margin-top: 20px;
}

#posts {
    margin: auto;
    width: 100%;
    height: 40vh;
    overflow-y: scroll;
    margin-bottom: 40px;
}
