<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta property="og:title" content="Personal Portfolio">
        <meta property="og:description" content="My Personal Portfolio">
        <meta property="og:url" content="{{ url }}">

        <!-- styles -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">

        <link lang='sass' rel="stylesheet" href="../static/styles/main.css">
        <link lang='css' rel="stylesheet" href="./static/styles/hobbies.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />

        <!-- scripts -->
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script type="module" src="../static/js/googlemap.js"></script>
        <title>{{ title }}</title>
    </head>

    <body>
        <!-- nav bar -->
        <div class="sticky">
            {% include 'includes/nav-bar.html'  %}
        </div>
        

        <section class="page-content">

            <!-- about me -->
            <section id="about-me">
                <div class="pic-desc">
                    <img src="static/img/me.png" alt="Picture of me">
                </div>
                
                <div class="about-me">
                    <h4> write about yourself here </h4>
                    <p>Lorem ipsum dolor sit amet. Et quibusdam velit ut voluptas nobis et voluptate quibusdam non magni mollitia eum impedit tempora qui saepe perferendis. Et autem sapiente At aliquid enim aut facere alias. Sed rerum esse ab rerum distinctio qui doloribus voluptas vel iusto maiores ut internos magnam hic aliquam voluptatem quo quas accusamus. Sed impedit repudiandae et aspernatur voluptatem in distinctio nemo. </p><p>Eum galisum quam vel enim esse qui minus aperiam sit nihil iusto. Et suscipit consequatur rem enim dicta et similique aspernatur. </p><p>Sed velit adipisci sed fugiat officia rem illum nobis qui vero ipsa qui nulla officia vel facilis iure sed commodi ratione. Ad harum tempore aut molestias officiis hic consequuntur sequi. Ea voluptatem dolor aut neque voluptates sit maiores sapiente. </p>
                    
                </div>
            </section>

            <!-- hobbies -->
            <h3>Hobbies</h3>
            <section id="hobbies-container">
                <div class="column">
                    {% for hobby in hobbies[0:2] %}
                
                        {% include 'includes/hobby.html' %}

                    {% endfor %}
                </div>
                <div class="column">
                    {% for hobby in hobbies[2:4] %}
                
                        {% include 'includes/hobby.html' %}

                    {% endfor %}
                </div>
                <div class="column">
                    {% for hobby in hobbies[4:6] %}
                
                        {% include 'includes/hobby.html' %}

                    {% endfor %}
                </div>

            </section>

            <!-- map -->
            
            <!-- UNCOMMENT BELOW TO DISPLAY INTERACTIVE GOOGLE MAP IF YOU HAVE A VALID GOOGLE CLOUD API KEY -->
            <!--The div element for the map -->
            <!-- <div id="map"></div>

            <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
                defer
            ></script> -->

            <h3>Travel</h3>

            <h6><span> <button id="vancouver" onclick="display_van()">Vancouver, BC</button></span>&emsp;&emsp;&emsp;
                <span><button  id="hamilton" onclick="display_ham()">Hamilton, ON</button></span>&emsp;&emsp;&emsp;
                <span><button  id="ottawa" onclick="display_otw()">Ottawa, ON</button></span></h6>

            <section id = 'travel'>
            
                <!-- interactive map -->
                <img id="map" src="../static/img/world-map.jpg" usemap="#workmap">
                <map name="workmap">
                    <area shape="rect" coords="34,44,270,350" alt="Computer" href="computer.htm">
                    <area shape="rect" coords="290,172,333,250" alt="Phone" href="phone.htm">
                    <area shape="circle" coords="337,300,44" alt="Coffee" href="coffee.htm">
                </map>

                <section id="locations-container">
                    
                    {% for loc in locations %}
                    
                        {% include 'includes/location.html' %}

                    {% endfor %}

                </section>
            </section>
        </section>
        

        <!-- footer -->
        {% include 'includes/footer.html'  %}
        
    </body>
</html>